.hed::before {
  content: "";
  background-color: black;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  opacity: 0.5;
  z-index: 4;
}

.hed {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 70px;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 5;
  color: white;
  width: 100vw;
}

.hed > * {
  color: white;
  z-index: 6;
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  top: 50%;
  transform: translateY(-50%);
}

.hed > * > * {
  color: white;
  z-index: 6;
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  top: 50%;
  transform: translateY(-50%);
}

.hed > * {
  display: inline-flex;
}
